@model Category



<form method="post" asp-action="Delete">
    <input asp-for="ID" hidden />
    <h2 class="text-primary">Delete Category</h2>
    <div class="border p-4">
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="form-control" />
        </div>
        <div class="mb-2">
            <label asp-for="DisplayOrder"></label>
            <input disabled asp-for="DisplayOrder" class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back to List</a>
    </div>

</form>